// BASE ICON STYLING
i {
	margin: 1.5rem 1rem;
	transition: all ease-in-out 320ms;
	cursor: pointer;
}


// DIV CONTAINING ICONS
.icons {
	text-align: center;
	color: darken(#DDDDDD, 5%);

	a:link,
	a:visited {
		color: darken(#DDDDDD, 5%);
	}
}

// TOP ROW OF BIGGER ICONS
.big-icons {
	font-size: 4.5rem;
}
// BOTTOM ROW OF SMALLER SOCIAL ICONS
.small-icons {
	font-size: 3.5rem;
}

//  SOCIAL MEDIA HOVERS
.twitter:hover,
.twitter:active {
	color: #02acee;
}

.insta:hover,
.insta:active {
	color: #f56040;
}

.bandcamp:hover,
.bandcamp:active {
	color: #629aa9;
}

.googleP:hover,
.googleP:active {
	color: #dd4b39;
}

.soundCl:hover,
.soundCl:active {
	color: #ff8800;
}

.face:hover,
.face:active {
	color: #3b5998;
}

.tube:hover,
.tube:active {
	color: #ff0000;
}
